@model IEnumerable<PrecastInfoViewModel>

@* @{
	ViewBag.Title = "Precast";
	var query = Model.GroupBy(m => m.PrecastType, (key, group) => new
	{
		type = key,
		projects = group.GroupBy(m => m.Project, (key, group) => new
		{
			project = key,
			precast = group.ToArray()
		})
	});

	int accordionCounter = 1;
}

<h3 class="text-center">@ViewBag.Title</h3>
<hr />

@foreach (var result in query)
{
	<div class="container">
		<h3>@result.type</h3>

		<div class="accordion text-bg-dark p-3" id="accordion">
			@foreach (var project in result.projects)
			{
				<div class="accordion-item  bg-dark text-light">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed  bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target=@($"#collapse{accordionCounter}") aria-expanded="true" aria-controls=@($"collapse{accordionCounter}")>
							@project.project
						</button>
					</h2>

					<div id=@($"collapse{accordionCounter}") class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">
							<partial name="_PrecastPartial" model="project.precast" />
						</div>
					</div>
				</div>
				accordionCounter++;
			}

		</div>
	</div> *@
}
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

