@model PrecastDeleteViewModel

@{
	ViewBag.Title = "Delete Precast";
}

<div class="card bg-transparent text-light " style="max-width:18rem">
	<h5 class="card-title">@Model.Name</h5>

	<p class="card-text"><span class="fw-bold">Added On: </span>@Model.AddedOn</p>
	<p class="card-text"><span class="fw-bold">Project: </span>@Model.Project</p>
	<p class="card-text"><span class="fw-bold">Type: </span>@Model.PrecastType</p>

		<p class="text-danger mt-3">"Are you sure you want to delete this precast?"</p>
	
	<hr />
	<div class="card-footer">
		<form asp-action="DeleteConfirmed" method="post">
			<input type="hidden" asp-for="Id" />
			<button type="submit" class="btn btn-danger">Confirm Delete</button>
			<a asp-action="All" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</div>
