@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<img src="https://img.freepik.com/premium-photo/construction-plans-with-yellow-helmet-drawing-tools-bluep_575980-7862.jpg?w=1380" class="img-fluid" alt="Logo" style="max-width:40rem" />
	<p class="lead">Welcome to Precast Factory System</p>
	<p>Here you can manage your work</p>
	<p>Log to get started</p>
</div>
