@model IEnumerable<RoleInfoViewModel>

@{
	ViewBag.Title = "All Roles";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


@foreach (var role in Model)
{
	<h6>@role.Name</h6>
	<hr />
	foreach (var user in role.Users)
	{
		<table class="table table-borderless">
			<tr>
				<td></td>
				<td>@user</td>
			</tr>
		</table>
	}
}
