<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PrecastFactorySystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index">Precast Factory</a>
						</li>
						@if (User?.Identity?.IsAuthenticated ?? false)
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle link-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Projects
								</a>
								<ul class="dropdown-menu bg-dark">
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Project" asp-action="All">All Projects</a></li>
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Project" asp-action="Add">Add New</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle link-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Precast
								</a>
								<ul class="dropdown-menu bg-dark">
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Precast" asp-action="All">All Precast</a></li>
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Precast" asp-action="Add">Add New</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle link-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Reinforce
								</a>
								<ul class="dropdown-menu bg-dark">
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Order" asp-action="All">Orders</a></li>
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Reinforce" asp-action="Add">Add New</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle link-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Deliverer
								</a>
								<ul class="dropdown-menu bg-dark">
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Deliverer" asp-action="All">All Deliverers</a></li>
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Deliverer" asp-action="Add">Add New</a></li>
								</ul>
							</li>	
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle link-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Departments
								</a>
								<ul class="dropdown-menu bg-dark">
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Department" asp-action="All">Production</a></li>
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Department" asp-action="Daily">For today</a></li>
									<li><a class="dropdown-item link-light" asp-area="" asp-controller="Department" asp-action="Monthly">Reports</a></li>
								</ul>
							</li>
							

						}
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div  class="container">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted ">
		<div class="container">
			&copy; @DateTime.UtcNow.Year - PrecastFactorySystem
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
