@model BaseInfoViewModel

@{
	ViewBag.Title = "Delete Precast";
}

<div class="card text-center text-dark bg-transparent p-3" style="max-width:22rem">
	<h5 class="card-title text-dark"><span class="fw-bold  text-dark">Precast: </span>@Model.Name</h5>
	<h6 class="card-subtitle mb-2 text-dark"><span class="fw-bold  text-dark">Identifier: </span>@Model.Id</h6>
	<p></p>
	<p class="text-danger mt-3">
		"Deleting this precast will cause delete of all of the
		precast reinforce and orders.You will not be able to revert it."
	</p>
	<p></p>
	<hr />
	<div class="card-footer">
		<form asp-action="DeleteConfirmed" method="post" class="text-center">
			<input type="hidden" asp-for=@Model.Id />
			<button type="submit" class="btn btn-danger">Proceed</button>
			<a asp-action="All" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</div>